// $columns:12;
// @for $i from 1 through $columns {
//     .col-#{$i}{
//         flex: 0 0 calc(100% / #{$columns} * #{$i})
//     }
// }

$colors: red blue green yellow;
@each $color in $colors {
    .box-#{$color} {
        background-color: $color;
    }
}
$aligns: left right center justify;
@each $align in $aligns {
    .t-#{$align}{
        text-align: $align;
    }
}

$breakpoints:(
    sm:480px,
    md:720px,
    lg:960px,
    xl:1200px
);
@each $name,$width in $breakpoints {
   @if($width == 480px ){
        .container-#{$name}{
            width: 100%;
        }
   }
   @else {
        .container-#{$name}{
            width: $width;
        }
   }
}