.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 0) {
  .fixed-width {
    width: 100%;
  }
  .col-1 {
    flex: 0 0 calc(100% / 12 * 1);
  }
  .col-2 {
    flex: 0 0 calc(100% / 12 * 2);
  }
  .col-3 {
    flex: 0 0 calc(100% / 12 * 3);
  }
  .col-4 {
    flex: 0 0 calc(100% / 12 * 4);
  }
  .col-5 {
    flex: 0 0 calc(100% / 12 * 5);
  }
  .col-6 {
    flex: 0 0 calc(100% / 12 * 6);
  }
  .col-7 {
    flex: 0 0 calc(100% / 12 * 7);
  }
  .col-8 {
    flex: 0 0 calc(100% / 12 * 8);
  }
  .col-9 {
    flex: 0 0 calc(100% / 12 * 9);
  }
  .col-10 {
    flex: 0 0 calc(100% / 12 * 10);
  }
  .col-11 {
    flex: 0 0 calc(100% / 12 * 11);
  }
  .col-12 {
    flex: 0 0 calc(100% / 12 * 12);
  }
}

@media (min-width: 480px) {
  .fixed-width {
    width: 480px;
    margin: auto;
  }
  .col-sm-1 {
    flex: 0 0 calc(100% / 12 * 1);
  }
  .col-sm-2 {
    flex: 0 0 calc(100% / 12 * 2);
  }
  .col-sm-3 {
    flex: 0 0 calc(100% / 12 * 3);
  }
  .col-sm-4 {
    flex: 0 0 calc(100% / 12 * 4);
  }
  .col-sm-5 {
    flex: 0 0 calc(100% / 12 * 5);
  }
  .col-sm-6 {
    flex: 0 0 calc(100% / 12 * 6);
  }
  .col-sm-7 {
    flex: 0 0 calc(100% / 12 * 7);
  }
  .col-sm-8 {
    flex: 0 0 calc(100% / 12 * 8);
  }
  .col-sm-9 {
    flex: 0 0 calc(100% / 12 * 9);
  }
  .col-sm-10 {
    flex: 0 0 calc(100% / 12 * 10);
  }
  .col-sm-11 {
    flex: 0 0 calc(100% / 12 * 11);
  }
  .col-sm-12 {
    flex: 0 0 calc(100% / 12 * 12);
  }
}

@media (min-width: 720px) {
  .fixed-width {
    width: 720px;
    margin: auto;
  }
  .col-md-1 {
    flex: 0 0 calc(100% / 12 * 1);
  }
  .col-md-2 {
    flex: 0 0 calc(100% / 12 * 2);
  }
  .col-md-3 {
    flex: 0 0 calc(100% / 12 * 3);
  }
  .col-md-4 {
    flex: 0 0 calc(100% / 12 * 4);
  }
  .col-md-5 {
    flex: 0 0 calc(100% / 12 * 5);
  }
  .col-md-6 {
    flex: 0 0 calc(100% / 12 * 6);
  }
  .col-md-7 {
    flex: 0 0 calc(100% / 12 * 7);
  }
  .col-md-8 {
    flex: 0 0 calc(100% / 12 * 8);
  }
  .col-md-9 {
    flex: 0 0 calc(100% / 12 * 9);
  }
  .col-md-10 {
    flex: 0 0 calc(100% / 12 * 10);
  }
  .col-md-11 {
    flex: 0 0 calc(100% / 12 * 11);
  }
  .col-md-12 {
    flex: 0 0 calc(100% / 12 * 12);
  }
}

@media (min-width: 960px) {
  .fixed-width {
    width: 960px;
    margin: auto;
  }
  .col-lg-1 {
    flex: 0 0 calc(100% / 12 * 1);
  }
  .col-lg-2 {
    flex: 0 0 calc(100% / 12 * 2);
  }
  .col-lg-3 {
    flex: 0 0 calc(100% / 12 * 3);
  }
  .col-lg-4 {
    flex: 0 0 calc(100% / 12 * 4);
  }
  .col-lg-5 {
    flex: 0 0 calc(100% / 12 * 5);
  }
  .col-lg-6 {
    flex: 0 0 calc(100% / 12 * 6);
  }
  .col-lg-7 {
    flex: 0 0 calc(100% / 12 * 7);
  }
  .col-lg-8 {
    flex: 0 0 calc(100% / 12 * 8);
  }
  .col-lg-9 {
    flex: 0 0 calc(100% / 12 * 9);
  }
  .col-lg-10 {
    flex: 0 0 calc(100% / 12 * 10);
  }
  .col-lg-11 {
    flex: 0 0 calc(100% / 12 * 11);
  }
  .col-lg-12 {
    flex: 0 0 calc(100% / 12 * 12);
  }
}

@media (min-width: 1200px) {
  .fixed-width {
    width: 1200px;
    margin: auto;
  }
  .col-xl-1 {
    flex: 0 0 calc(100% / 12 * 1);
  }
  .col-xl-2 {
    flex: 0 0 calc(100% / 12 * 2);
  }
  .col-xl-3 {
    flex: 0 0 calc(100% / 12 * 3);
  }
  .col-xl-4 {
    flex: 0 0 calc(100% / 12 * 4);
  }
  .col-xl-5 {
    flex: 0 0 calc(100% / 12 * 5);
  }
  .col-xl-6 {
    flex: 0 0 calc(100% / 12 * 6);
  }
  .col-xl-7 {
    flex: 0 0 calc(100% / 12 * 7);
  }
  .col-xl-8 {
    flex: 0 0 calc(100% / 12 * 8);
  }
  .col-xl-9 {
    flex: 0 0 calc(100% / 12 * 9);
  }
  .col-xl-10 {
    flex: 0 0 calc(100% / 12 * 10);
  }
  .col-xl-11 {
    flex: 0 0 calc(100% / 12 * 11);
  }
  .col-xl-12 {
    flex: 0 0 calc(100% / 12 * 12);
  }
}

[class^="col"] {
  padding-left: 15px;
  padding-right: 15px;
}

.no-padding {
  padding: 0;
}

@media (min-width: 0) {
  .d-inline {
    display: inline;
  }
  .d-block {
    display: block;
  }
  .d-inline-block {
    display: inline-block;
  }
  .d-flex {
    display: flex;
  }
  .d-grid {
    display: -ms-grid;
    display: grid;
  }
  .d-table {
    display: table;
  }
  .d-table-cell {
    display: table-cell;
  }
  .jc-flex-start {
    justify-content: flex-start;
  }
  .jc-flex-end {
    justify-content: flex-end;
  }
  .jc-center {
    justify-content: center;
  }
  .jc-space-between {
    justify-content: space-between;
  }
  .jc-space-around {
    justify-content: space-around;
  }
  .ai-flex-start {
    align-items: flex-start;
  }
  .ai-flex-end {
    align-items: flex-end;
  }
  .ai-center {
    align-items: center;
  }
  .ai-strech {
    align-items: strech;
  }
  .ai-flex-start {
    align-items: flex-start;
  }
  .ai-flex-end {
    align-items: flex-end;
  }
  .ai-center {
    align-items: center;
  }
  .ai-strech {
    align-items: strech;
  }
}

@media (min-width: 480px) {
  .d-sm-inline {
    display: inline;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-inline-block {
    display: inline-block;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-grid {
    display: -ms-grid;
    display: grid;
  }
  .d-sm-table {
    display: table;
  }
  .d-sm-table-cell {
    display: table-cell;
  }
  .jc-sm-flex-start {
    justify-content: flex-start;
  }
  .jc-sm-flex-end {
    justify-content: flex-end;
  }
  .jc-sm-center {
    justify-content: center;
  }
  .jc-sm-space-between {
    justify-content: space-between;
  }
  .jc-sm-space-around {
    justify-content: space-around;
  }
  .ai-sm-flex-start {
    align-items: flex-start;
  }
  .ai-sm-flex-end {
    align-items: flex-end;
  }
  .ai-sm-center {
    align-items: center;
  }
  .ai-sm-strech {
    align-items: strech;
  }
  .ai-sm-flex-start {
    align-items: flex-start;
  }
  .ai-sm-flex-end {
    align-items: flex-end;
  }
  .ai-sm-center {
    align-items: center;
  }
  .ai-sm-strech {
    align-items: strech;
  }
}

@media (min-width: 720px) {
  .d-md-inline {
    display: inline;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-grid {
    display: -ms-grid;
    display: grid;
  }
  .d-md-table {
    display: table;
  }
  .d-md-table-cell {
    display: table-cell;
  }
  .jc-md-flex-start {
    justify-content: flex-start;
  }
  .jc-md-flex-end {
    justify-content: flex-end;
  }
  .jc-md-center {
    justify-content: center;
  }
  .jc-md-space-between {
    justify-content: space-between;
  }
  .jc-md-space-around {
    justify-content: space-around;
  }
  .ai-md-flex-start {
    align-items: flex-start;
  }
  .ai-md-flex-end {
    align-items: flex-end;
  }
  .ai-md-center {
    align-items: center;
  }
  .ai-md-strech {
    align-items: strech;
  }
  .ai-md-flex-start {
    align-items: flex-start;
  }
  .ai-md-flex-end {
    align-items: flex-end;
  }
  .ai-md-center {
    align-items: center;
  }
  .ai-md-strech {
    align-items: strech;
  }
}

@media (min-width: 960px) {
  .d-lg-inline {
    display: inline;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-grid {
    display: -ms-grid;
    display: grid;
  }
  .d-lg-table {
    display: table;
  }
  .d-lg-table-cell {
    display: table-cell;
  }
  .jc-lg-flex-start {
    justify-content: flex-start;
  }
  .jc-lg-flex-end {
    justify-content: flex-end;
  }
  .jc-lg-center {
    justify-content: center;
  }
  .jc-lg-space-between {
    justify-content: space-between;
  }
  .jc-lg-space-around {
    justify-content: space-around;
  }
  .ai-lg-flex-start {
    align-items: flex-start;
  }
  .ai-lg-flex-end {
    align-items: flex-end;
  }
  .ai-lg-center {
    align-items: center;
  }
  .ai-lg-strech {
    align-items: strech;
  }
  .ai-lg-flex-start {
    align-items: flex-start;
  }
  .ai-lg-flex-end {
    align-items: flex-end;
  }
  .ai-lg-center {
    align-items: center;
  }
  .ai-lg-strech {
    align-items: strech;
  }
}

@media (min-width: 1200px) {
  .d-xl-inline {
    display: inline;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-inline-block {
    display: inline-block;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-grid {
    display: -ms-grid;
    display: grid;
  }
  .d-xl-table {
    display: table;
  }
  .d-xl-table-cell {
    display: table-cell;
  }
  .jc-xl-flex-start {
    justify-content: flex-start;
  }
  .jc-xl-flex-end {
    justify-content: flex-end;
  }
  .jc-xl-center {
    justify-content: center;
  }
  .jc-xl-space-between {
    justify-content: space-between;
  }
  .jc-xl-space-around {
    justify-content: space-around;
  }
  .ai-xl-flex-start {
    align-items: flex-start;
  }
  .ai-xl-flex-end {
    align-items: flex-end;
  }
  .ai-xl-center {
    align-items: center;
  }
  .ai-xl-strech {
    align-items: strech;
  }
  .ai-xl-flex-start {
    align-items: flex-start;
  }
  .ai-xl-flex-end {
    align-items: flex-end;
  }
  .ai-xl-center {
    align-items: center;
  }
  .ai-xl-strech {
    align-items: strech;
  }
}

.t-red {
  color: #ff0055;
}

.bg-red {
  background-color: #ff0055;
}

.t-green {
  color: #00b460;
}

.bg-green {
  background-color: #00b460;
}

.t-blue {
  color: #0084ff;
}

.bg-blue {
  background-color: #0084ff;
}

.t-yellow {
  color: #ffff00;
}

.bg-yellow {
  background-color: #ffff00;
}

.t-orange {
  color: #ffbb00;
}

.bg-orange {
  background-color: #ffbb00;
}

.t-purple {
  color: #7b00ce;
}

.bg-purple {
  background-color: #7b00ce;
}

.t-dark {
  color: #222;
}

.bg-dark {
  background-color: #222;
}

.t-light {
  color: #e0e0e0;
}

.bg-light {
  background-color: #e0e0e0;
}
/*# sourceMappingURL=style.css.map */