<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <p>
            {{number}}
        </p>
        <ul>
            <li v-for="drink in drinks">{{drink}}</li>
        </ul>
        <div v-for="drink of drinks">{{drink}}</div>
        <img v-bind:src="image" alt="title" :title="text">
    </div>
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    title: 'HEllo Vue!!!!',
                    number: 12345,
                    image:'https://picsum.photos/id/45/300',
                    text: 'Picsum Photos',
                    drinks: ['紅茶','旅茶','拿鐵','冰淇淋紅茶','百香雙響砲']
                }
            }
        });
        app.mount('#app');

    </script>
</body>
</html>