<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id="app">
        <div v-if="onsale">特價 999</div>
        <div v-else>原價 100000</div>

        <div v-if="qty > 10">熱賣中</div>
        <div v-else-if="qty <= 10 && qty > 0">低庫存</div>
        <div v-else>補貨中</div>

    </div>
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    onsale: true,
                    qty: 12
                }
            }
        });
        app.mount('#app');
    </script>
</body>
</html>