<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        li {
            list-style: none;
        }
        .colorBox {
            width: 50px;
            height: 50px;
        }
        .prods {
            display: flex;
        }
        .prods li {
            border: 1px solid #242424;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h2>{{title}}</h2>
        <img :src="image" alt="">
        <ul class="inbox">
            <li v-for="inbox of inBoxes">{{inbox}}</li>
        </ul>
        <ul class="prods">
            <li @click="changeIndex(idx)" v-for="(prod,idx) of products" class="colorBox" :style="{backgroundColor:prod.color}">
            </li>
        </ul>
        <ul class="prods">
            <li @click="changeIndex(idx)" v-for="(prod,idx) of products">
                <img :src="prod.image" width="100">
            </li>
        </ul>
        <h1>{{currentIndex}}</h1>
    </div>
    <script>
         const app = Vue.createApp({
            data(){
                return {
                    title: 'iPhone 12',
                    image: 'images/iphone-12-black-select-2020.png',
                    inBoxes:['iPhone','USB-C 對 Lightning 連接線'],
                    currentIndex:0,
                    products:[
                        {
                            id:1,
                            image:'images/iphone-12-black-select-2020.png',
                            colorName:'黑色',
                            color:'#000'
                        },
                        {
                            id:2,
                            image: 'images/iphone-12-red-select-2020.png',
                            colorName:'紅色',
                            color:'#fa0'
                        },
                        {
                            id:3,
                            image:'images/iphone-12-green-select-2020.png',
                            colorName:'綠色',
                            color:'#0a8'
                        },
                        {
                            id:4,
                            image:'images/iphone-12-blue-select-2020.png',
                            colorName:'藍色',
                            color:'#00f'
                        },
                        {
                            id:5,
                            image:'images/iphone-12-white-select-2020.png',
                            colorName:'白色',
                            color:'#eee'
                        },
                    ]
                }
            },
            methods:{
                changeIndex(idx){
                    this.currentIndex = idx;
                }
            }
        });
        app.mount('#app');
    </script>
</body>
</html>