<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .container {
            width: 90%;
            margin: auto;
        }
        .todos li {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid #5c7979;
            background-color: #aee6e6;
        }
        .todos li.completed {
            background-color: #ccc;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div class="container" id="app">

        <input type="text" id="input" v-model="input"><button v-on:click="add()">新增事項</button>
        <div>{{test}}</div>
        <ul class="todos">
            <li class="todo-item" v-for="todo of todos">{{todo.name}}<span class="del">刪除</span></li>
        </ul>
    </div>
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    input: '',
                    todos:[
                        {
                            name:'吃飯',
                            completed: false
                        },
                        {
                            name:'睡覺',
                            completed: true
                        },
                        {
                            name:'打東東',
                            completed: false
                        },
                    ]
                }
            },
            methods:{
                add(){
                    this.todos.push({
                        name: this.input,
                        completed: false
                    })
                    this.input = '';
                }
            }
        });
        app.mount('#app')
    </script>
</body>
</html>